In [51]:
import sys
import numpy as np
import pandas as pd

In [26]:
f = open('datosconfstring.txt', 'r')
ar = f.readline()

In [27]:
ar = ar.split()

In [31]:
for i in range(len(ar)):
    ar[i] = float(ar[i])

In [48]:
archivo = np.genfromtxt('datosconfstring.txt', unpack=True)

In [50]:
archivo[0]

array([  0.,   1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,
        11.,  12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,
        22.,  23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,
        33.,  34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,
        44.,  45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,
        55.,  56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,
        66.,  67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,
        77.,  78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,
        88.,  89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,
        99., 100., 101., 102., 103., 104., 105., 106., 107., 108., 109.,
       110., 111., 112., 113., 114., 115., 116., 117., 118., 119., 120.,
       121., 122., 123., 124., 125., 126., 127., 128., 129., 130., 131.,
       132., 133., 134., 135., 136., 137., 138., 139., 140., 141., 142.,
       143., 144., 145., 146., 147., 148., 149.])

In [66]:
df = pd.read_csv('datosconfstring.txt', header=None, sep='\t', index_col=0, names=['index', 'value'])

In [68]:
chunkis = pd.read_csv('datosconfstring.txt', header=None, sep='\t', index_col=0, names=['index', 'value'], chunksize=10)

In [74]:
chunkis.get_chunk(10)

         value
index
1     -0.65652
2     -0.28857
3     -0.48150
4     -1.36727
5      0.43834
6     -0.22417
7     -0.45573
8     -1.17849
9      1.34538
10    -0.49998